*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
    transition: all 1.2s linear;
}

.image{
    position: fixed;
    right: 0;
    width: 50%;
    height: 100vh;
    
}
.register{
    left: 0;
    top: 0;
    background: black;
    width: 50%;
    height: 100vh;
    position: relative;
}

.register .container {
    position: absolute;
    margin-top: 5rem;
    margin-left: 5rem;
    width: 350px;
    box-shadow: 0px 3px 11px 16px #000000;
}

.register #container1{
    display: block;
}

.register #container2{
    display: none;
}

.register #container2 .email-password{
    margin-top: 4rem;
    position: absolute;
}

.register .container i{
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 15px;
}

.register .container i:hover{
    background: red;
}

.register .container .box{
    display: flex;
    justify-content: space-between;
}

.register .container .box p{
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}

.register .container .box img{
    width: 100px;
}

.register .imputs{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.register .imputs label{
    margin-top: 4rem;
}

.register .imputs input{
    padding: 8px;
    background: rgb(48, 46, 46);
    border: #fff;
    border-radius: 2px;
}

.register .imputs p{
    margin-top: 5px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
}

.register .imputs button{
    background: red;
    padding: 12px 8px;
    margin-top: 2rem;
    border: none;
    cursor: pointer;
}

